*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	background-image: url("book_images2.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
}
/*form {
	
	background: rgba(0,0,0,.7);
	border-radius: 20px;
	width: 520px;

	position: relative;
}*/
hr{
	border: 0.5px 
	color :#c7d4e2;
}
.loginbox{
	width: 520px;
	height: 2820px;
	/*background: rgba(0,0,0,.7);*/
	background: white;
	color:black;
	top:240%;
	left: 50%;
	position: absolute;
	transform: translate(-55%,-50%);
	border-radius: 20px;
	padding: 70px 60px;
	background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;

}

.loginbox h2{
	font-size: 15px;

	line-height: 15px;
	color:  blue;
}
.loginbox h3{
	font-size: 30px;

	line-height: 35px;
	color: blue;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 30px;
	color:blue;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:#70777f;
}
.loginbox input{
	width:100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"],input[type="email"]{
	border:none;
	border: 2px solid blue;
	border-style: dotted;
	background: transparent;
	outline: none;
	height: 40px;
	color:blue;
	font-size: 16px;
}
.loginbox input[type="submit"]{
	border: none;
	outline:none;
	background: red;
	color:white;
	height:40px;
	font-size: 18px;
	border-radius: 20px; 
}
.loginbox input[type="checkbox"]{
	background-color : red;
}
.loginbox input[type="submit"]:hover{
	background: blue;
	color:orange;
	cursor: pointer;
}
.loginbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 30px;
	color: darkgrey;
}

